<div class="links">
  <a href="#">Prueba</a>
  <div class="other">
    <span>
      <a href="#" ex-click="{{ vmCheckLink.showMessage('hola', 1, vmCheckLink.props.url) }}">{{vmCheckLink.props.content}}</a>
    </span>

        <strong>
      <a href="#" ex-click="{{ vmCheckLink.showMessage2('adios') }}">{{vmCheckLink.props.content}}</a>
    </strong>
  </div>
</div>

<div ex-hide="{{ vmCheckLink.props.items === 1 && vmCheckLink.props.url }}" class="otros" ex-click="{{ vmCheckLink.showMessage2('Funciona perfecto') }}">
  Holaaaa desde otros

  <input id="text" ex-keydown="{{ vmCheckLink.showMessage2('En el keydown') }}" />
</div>
